 

 <div class="container">
      <div id= "wrapper">
        <div class="row">
          <div class="col-sm-6">
            <h1>NHL Top Articles Yay!</h1>
          </div>
          <div class="col-sm-6">
            <img src="img/blade.jpg" alt="cartoon goal scoring celebration">
            <!-- height="42" width="42" -->
          </div>
        </div>  <!-- row end -->
        <div id="articles"></div>
        <div id="notes"></div>
          
      </div>
    </div>